<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorgu Ekranı</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/sorgu.css' %}">

</head>
<body>
    <h1>Sorgu Ekranı</h1>
    <br>
    <h2>Dönem sorgusu(SORGU 2)</h2>
    <div>
        
    </div>
    <form method="post" action="{% url 'admin_sorgu' %}">
        {% csrf_token %}
        <select name="dönem">

            <option value="2012-2013 Güz">2012-2013 Güz</option>
            <option value="2012-2013 Bahar">2012-2013 Bahar</option>

            <option value="2013-2014 Güz">2013-2014 Güz</option>
            <option value="2013-2014 Bahar">2013-2014 Bahar</option>

            <option value="2013-2014 Güz">2013-2014 Güz</option>
            <option value="2013-2014 Bahar">2013-2014 Bahar</option>
        
            <option value="2015-2016 Güz">2015-2016 Güz</option>
            <option value="2015-2016 Bahar">2015-2016 Bahar</option>

            <option value="2016-2017 Güz">2016-2017 Güz</option>
            <option value="2016-2017 Bahar">2016-2017 Bahar</option>

            <option value="2017-2018 Güz">2017-2018 Güz</option>
            <option value="2017-2018 Bahar">2017-2018 Bahar</option>

            <option value="2018-2019 Güz">2018-2019 Güz</option>
            <option value="2018-2019 Bahar">2018-2019 Bahar</option>

            <option value="2019-2020 Güz">2019-2020 Güz</option>
            <option value="2019-2020 Bahar">2019-2020 Bahar</option>
            
            <option value="2020-2021 Güz">2020-2021 Güz</option>
            <option value="2020-2021 Bahar">2020-2021 Bahar</option>

        </select>
        <input id="submit" type="submit" value="Sorgula" name="submit">
    </form>
    
    <div class="container">
        <div class="bir">
        {% for i in dosyalar %} 

        <li> <a  href="{{i}}" target="_blank">{{i}}</a> </li>

        {% endfor %}
        
        </div>
         
        <div class="iki">
            {% for i in isimler %}  
                <li>{{i}}</li> 
                
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'sorgu1' %}"><input id="submit" type="submit" value="Sorgu 1" name="submit"></a>
    <a href="{% url 'yonetici' %}"><input id="submit" type="submit" value="Geri" name="submit"></a>

        
    
    
    

</body>
</html>