*{
    box-sizing: border-box;
}
.sorgular{
    display: flex;
    justify-content:space-between;
    padding-right: 5%;
    
}

body{
    background-color: rgb(235, 235, 5);
}


.bir{
    background-color: aliceblue;
    width: 100%;
    height: 120px;
    float: left;
    overflow-y: auto;
    list-style: none;
    
    
}



    .bir>*{
        text-align:center;
    }
 